*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI DA RIMUOVERE SUCCESSIVAMENTE */
.dashed-border{
    border: dashed 2px black;
}

.menu-layout{
    height: 60%;
    background-color: red;
}

.container-ref{
    background: #2eed24;
}

.product-layout{
    height: 600px;
    background-color: rgb(64, 0, 255);
}

.height-ref{
    background-color: red;
    height: 100%;
}
/* ____________________________ */

/* COMUNI PER L'INTERA PAGINA */
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.row{
    width: 100%;
    height: 100%;

    justify-content: center;
    display: flex;
    align-items: center;
}
/* ____________________________ */



/* HEADER */
/* Colonne [HEADER] */
.col-nav{
    width: 25%;
}

.col-logo{
    width: 50%;
}

.bg-header{
    background-color: #FF6900;
    height: 100px;
}


/* MAIN */
/* Colonne [MAIN] */
.col-details{
    width: 25%;
}

.col-product{
    width: calc(100% / 3 - 20px);
    margin-bottom: 80px;
}

.gap-column{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}

/* Container [MAIN] */
.padding-container{
    padding-top: 70px;
}

.container-photo{
    height: 90% /* Rimuovere */
}

.container-product-details{
    background-color: red; /* Rimuovere */
    height: 13%; /* Rimuovere */
}


/* FOOTER */
.bg-grey{
    background-color: #1A1A1A;
    height: 100px; /* Rimuovere */
}

.space-btw-footer{
    justify-content: space-between;
}

/* Colonne [FOOTER] */
.col-policy{
    width: 300px; /* Rimuovere (?) */
}

.col-social{
    width: 300px; /* Rimuovere (?) */
}