*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DA RIMUOVERE SUCCESSIVAMENTE */
.dashed-border{
    border: dashed 2px black;
}

.menu-layout{
    height: 60%;
    background-color: red;
}

.container-ref{
    background: #2eed24;
}

.product-layout{
    height: 550px;
    background-color: rgb(64, 0, 255);
}
/* ____________________________ */


.bg-header{
    background-color: #FF6900;
    height: 100px;
}

/* COMUNI PER L'INTERA PAGINA */
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.row{
    width: 100%;
    height: 100%;

    justify-content: center;
    display: flex;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

/* COLONNE */
.col-nav{
    width: 25%;
}

.col-logo{
    width: 50%;
}

.col-details{
    width: 25%;
}

.col-product{
    width: calc(100% / 3 - 20px);
    margin-bottom: 80px;
}

.gap-column{
    gap: 20px;
}

.padding-container{
    padding-top: 70px;
}

.container-photo{
    height: 90%
}

.container-product-details{
    background-color: red;
    height: 13%;
}